<div class="container">
  <h1>Word Counter</h1>
  <form action="/sentence">
    <div class="form-group">
      <h2>Input any sentence you desire in the first field and then input a word from that sentence in the second field. You will find out how many times that word is repeated in that sentence a seperate page.</h2>
    </div>
    <div class="form-group">
      <label for="sentence">Please enter a sentence.</label>
      <input type="text" name="sentence" id="sentence" class="form-control">
    </div>
    <div class="form-group">
      <label for="word">Please enter a word from that sentence.</label>
      <input type="text" name="word" id="word" class="form-control">
    </div>
    <button type="submit" class="btn btn-success btn-lg">Send</button>
  </form>
</div>
